<div class="container" [class.hidden]="shouldHide">
    
    <form [formGroup]="formDetails">
      <h2>User Registration Reactive form form</h2>

        <p>
          <label>Name </label>
          <mat-form-field appearance="fill">
          <input matInput type="text" id="name" name="name" placeholder="Full Name" formControlName="name">
        </mat-form-field>
        </p>
       
       
        <p>
          <label>Email </label>
          <mat-form-field appearance="fill">

          <input matInput type="text" id="email" name="email" placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>
       
        <p>
          <label>Geneder </label>
          <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
          <input type="radio" value="female" id="gender" name="gender"formControlName="gender"> Female          
        </p>
       
        <p>
          <label for="isMarried">Married </label>
          <input type="checkbox" id="isMarried" name="isMarried">
        </p>
       

       
        <p>
          <button type="submit" (click)="submitForm()" mat-button color="primary">Submit</button>
        </p>
       
      </form>
</div>

<div class="records">
  <button mat-button color="primary" (click)="fetchData()">Display Records</button>
  <button mat-button color="primary">Add</button>
</div>